<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thingclips.sample.outdoor">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".OutdoorPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device_control.activity.DeviceMgtControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".network_api.activity.NetworkApiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device_control.activity.InductiveUnlockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device_control.activity.DeviceRemoveActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>